.main {
  padding: 20px 0;
}

.noti {
  cursor: pointer;
  .wrapBtn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}

.wrapNoti {
  display: flex;
  .img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }

  .content {
    margin-left: 10px;
  }
}

.isRead {
  background: #fff;

  &:hover {
      background-color: rgba(0, 0, 0, 0.05);
  }
}

.isUnread {
  background-color: rgba(238, 75, 43, 0.08);

  &:hover {
      background-color: rgba(0, 0, 0, 0.05);
  }
}

@media screen and (max-width: 46.1875em) {
  .main {
    margin: 0 4px;
  }

  .user {
    display: none;
  }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .user {
    display: none;
  }
}