.main {
  padding: 20px 0;
}

.noti {
  cursor: pointer;
  .wrapBtn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}

.wrapNoti {
  margin: 10px 0;
  .img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }
}

.isRead {
  background: #fff;

  &:hover {
      background-color: rgba(0, 0, 0, 0.05);
  }
}

.isUnread {
  background-color: rgba(238, 75, 43, 0.08);

  &:hover {
      background-color: rgba(0, 0, 0, 0.05);
  }
}