.profile {

    .info {
        display: flex;
        justify-content: center;
        padding-left: 4px;
        .img {
            width: 40px;
            height: 40px;
        }

        .name {
            margin-left: 5px;

            h1 {
                font-size: 1.5rem;
            }

            span {
                font-size: 1rem;
            }
        }
    }
}