.main {
    padding: 20px 0;
}

.category {
    h2 {
        font-size: 2rem;
        font-weight: 600;
    }
}

.card {
    margin: 10px 0;
}

.wrap {
    display: flex;

    .img {

        img {
            width: 100px;
            height: 100%;
            object-fit: contain;
        }
    }
}

.info {
    margin-left: 20px;

    h3 {
        font-size: 1.8rem;
        font-weight: 700;
    }
}

.wrapBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: default;
    flex: 1;

    .applyPriceBtn {
        background-color: #fff;
        color:#E87428;
        border: 1px solid #E87428;
        margin: 10px 0 0 0;
        width: 120px;
        height: 30px;
        border-radius: 4px !important;
    }
}

.shipping {
    color: #26ab9a !important;
    border: 1px solid #26ab9a !important;
}