.sliderImg {
    margin: 30px;
}

.underLine {
    margin-top: 50px;
    padding: 0 35px;
}

.feedbacks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .btn {
        display: flex;
    }
}


// Responsive
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .resService {
        display: none;
    }
}